body {
    
    overflow: hidden;
    background: #132c33; 
    background: linear-gradient(#132c33, #2d6c7d);
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  svg {
  }
  
  .filler {
    -background: #132c33;
    position: absolute;
    bottom: 50%;
    top: 0;
    left: 0;
    right: 0;
  }